# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DACTYL546_LEFT
    def_bool $(shields_list_contains,dactyl546_left)

config SHIELD_DACTYL546_RIGHT
    def_bool $(shields_list_contains,dactyl546_right)
