# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DACTYL543_LEFT

config ZMK_KEYBOARD_NAME
    default "DACTYL543"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYL543_LEFT || SHIELD_DACTYL543_RIGHT

config ZMK_SPLIT
    default y

endif
